# Data processing for the Organisational Audit Portfolio spreadsheet 3: rename data contents

Make the data easier to wrangle. For example, change rows with long string values to shorter or numerical values.

In [1]:
import os
import pandas as pd
import numpy as np  # for NaN

### Import data

In [2]:
dir_files = '../data/organisational_audit/processed'
file_excel = 'processed_2019_portfolio_key_indicators_summary.csv'

In [3]:
df = pd.read_csv(os.path.join(dir_files, file_excel), index_col=0)

In [4]:
df

,ki_total,ki1,ki1_nurses6_wte,ki1_nurses7_wte,ki2,ki2_psych_wte,ki3,ki3_strokenurse_outofhours,ki3_strokenurse_bed1_weekdays10pm,ki3_strokenurse_bed1_saturdays,...,ki8,ki8_patientcarersurvey_frequency,ki9,ki9_tia_brainimaging_mostused,ki9_tia_outpatients_seen,ki9_tia_outpatient_timescale,ki10,ki10_management_executiveonboard,ki10_management_nonexecutiveonboard,ki10_management_chairmanofclinicalgovernance
Hospital names,,,,,,,,,,,,,,,,,,,,,
Queens Hospital Romford HASU,6.0,Yes,2.73,1.14,No,0.48,Yes,Yes,5,5,...,Yes,Continuous (every patient),No,Computed Tomography,Yes,The same day (7 days a week),Yes,Yes,Yes,Yes
Newham General Hospital,6.0,Yes,1.54,1.54,No,0.00,At site treating your patients during the firs...,At site treating your patients during the firs...,Not Applicable,Not Applicable,...,Yes,Continuous (every patient),Yes,Magnetic Resonance Imaging,Yes,The same day (5 days a week),No,No,No,No
Royal London Hospital HASU,5.0,Yes,2.85,0.38,No,0.23,Yes,Yes,4,4,...,No,Less than once a year,Yes,Magnetic Resonance Imaging,Yes,The same day (5 days a week),No,No,No,No
Whipps Cross University Hospital,3.0,Yes,2.63,0.53,No,0.00,No,No,Not Applicable,Not Applicable,...,No,Never,No,Computed Tomography,Yes,The same day (5 days a week),No,No,No,No
Charing Cross Hospital HASU,5.0,Yes,3.67,0.44,No,0.27,Yes,Yes,6,7,...,Yes,3-4 times a year,No,Computed Tomography,Yes,The same day (5 days a week),No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Altnagelvin Hospital,3.0,No,1.20,0.40,No,0.00,No,No,1,1,...,Yes,1-2 times a year,Yes,Magnetic Resonance Imaging,Yes,The same day (5 days a week),No,No,No,No
South West Acute Hospital,3.0,No,1.56,0.56,No,0.00,No,No,1,1,...,Yes,1-2 times a year,No,Computed Tomography,Yes,Within a week,No,No,No,No
Noble's Hospital,3.0,Yes,5.00,0.83,No,0.00,Yes,Yes,Not Applicable,Not Applicable,...,Yes,Continuous (every patient),No,Magnetic Resonance Imaging,Yes,Within a week,No,No,No,No
Walton Centre Stroke Team,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Queen's Medical Centre - Nottingham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 171 entries, Queens Hospital Romford HASU to Queen's Medical Centre - Nottingham
Data columns (total 47 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   ki_total                                      169 non-null    float64
 1   ki1                                           169 non-null    object
 2   ki1_nurses6_wte                               169 non-null    float64
 3   ki1_nurses7_wte                               169 non-null    float64
 4   ki2                                           169 non-null    object
 5   ki2_psych_wte                                 169 non-null    float64
 6   ki3                                           169 non-null    object
 7   ki3_strokenurse_outofhours                    169 non-null    object
 8   ki3_strokenurse_bed1_weekdays10pm             169 non-null    object
 9   ki3_strokenurse_bed1_saturdays                169 non-null    object
 10  ki3_strokenurse_bed1_saturdays10pm            169 non-null    object
 11  ki3_strokenurse_bed1_sundays                  169 non-null    object
 12  ki3_strokenurse_bed1_sundays10pm              169 non-null    object
 13  ki3_strokenurse_bed3_weekdays10pm             169 non-null    object
 14  ki3_strokenurse_bed3_saturdays                169 non-null    object
 15  ki3_strokenurse_bed3_saturdays10pm            169 non-null    object
 16  ki3_strokenurse_bed3_sundays                  169 non-null    object
 17  ki3_strokenurse_bed3_sundays10pm              169 non-null    object
 18  ki4                                           169 non-null    object
 19  ki4_minimum_nurse_bed1_saturdays10am          169 non-null    object
 20  ki4_minimum_nurse_bed1_sundays10am            169 non-null    object
 21  ki4_minimum_nurse_bed3_saturdays10am          169 non-null    object
 22  ki4_minimum_nurse_bed3_sundays10am            169 non-null    object
 23  ki5                                           169 non-null    object
 24  ki5_occupationaltherapy_7days                 169 non-null    float64
 25  ki5_physiotherapy_7days                       169 non-null    float64
 26  ki5_speechlanguagetherapy_7days               169 non-null    object
 27  ki6                                           169 non-null    object
 28  ki6_prealert_ivtcandidates                    169 non-null    object
 29  ki6_prealert_fastpositive                     169 non-null    object
 30  ki6_prealert_othersuspectedstroke             169 non-null    object
 31  ki6_prealert_strokenurse                      169 non-null    object
 32  ki6_prealert_juniordoctor                     169 non-null    object
 33  ki6_prealert_consultant                       169 non-null    object
 34  ki7                                           169 non-null    object
 35  ki7_stroke_esd_team                           169 non-null    object
 36  ki7_percent_access_to_stroke_esd_team         169 non-null    object
 37  ki8                                           169 non-null    object
 38  ki8_patientcarersurvey_frequency              169 non-null    object
 39  ki9                                           169 non-null    object
 40  ki9_tia_brainimaging_mostused                 169 non-null    object
 41  ki9_tia_outpatients_seen                      169 non-null    object
 42  ki9_tia_outpatient_timescale                  169 non-null    object
 43  ki10                                          169 non-null    object
 44  ki10_management_executiveonboard              169 non-null    object
 45  ki10_management_nonexecutiveonboard           169 non-null    object
 46  ki10_management_chairmanofclinicalgovernance  169 non-null    object
dtypes: float64(6), object(41)
memory usage: 64.1+ KB

## Remove teams with missing data

Two stroke units have completely missing data. They appear at the end of the list and in the full dataset only have a handful of the entries completed. All other teams have complete information.

Remove these two teams now to save a bunch of extra formatting to account for the missing values.

This also allows us to use `pd.NA` not-applicable values for any 'Not Applicable' value instead of missing values.

In [6]:
# Find where the missing teams are in the DataFrame:
missing_team_inds = []

for i in range(len(df)):
    if df.iloc[i].isna().all():
        # If everything in this row is missing, then add to list:
        missing_team_inds.append(i)

# Find the names of the missing teams:
missing_teams = [df.index[i] for i in missing_team_inds]

missing_teams

['Walton Centre Stroke Team', "Queen's Medical Centre - Nottingham"]

In [7]:
# Remove these teams from the DataFrame:
for team in missing_teams:
    df = df.drop(team, axis='rows')

## Label acute units

Some columns contain mostly well-behaved data and also data that has similar contents but prefixed with "At site treating your patients during the first 72h:". These are non-acute stroke units who receive only patients after treatment at an acute unit. The phrasing in the document: "teams who do not treat patients in the first 72 hours following stroke".

Find which units have data containing that long string, label them as not acute, and remove the long string from the affected data.

In [8]:
long_str = 'At site treating your patients during the first 72h'

In [9]:
# Find columns containing the long string.
cols_with_long_str = []
for col in df.columns:
    try:
        contents = df[col].str
        if contents.contains(long_str).any():
            cols_with_long_str.append(col)
    except AttributeError:
        # Column can't be converted to strings.
        pass

cols_with_long_str

['ki3',
 'ki3_strokenurse_outofhours',
 'ki4',
 'ki4_minimum_nurse_bed1_saturdays10am',
 'ki4_minimum_nurse_bed1_sundays10am',
 'ki4_minimum_nurse_bed3_saturdays10am',
 'ki4_minimum_nurse_bed3_sundays10am',
 'ki6',
 'ki6_prealert_ivtcandidates',
 'ki6_prealert_fastpositive',
 'ki6_prealert_othersuspectedstroke',
 'ki6_prealert_strokenurse',
 'ki6_prealert_juniordoctor',
 'ki6_prealert_consultant']

In [10]:
# Find hospitals containing the long string.
teams_with_long_str = []
for team in df.index:
    try:
        contents = df.loc[team, cols_with_long_str].str
        if contents.contains(long_str).any():
            teams_with_long_str.append(team)
    except AttributeError:
        # Column can't be converted to strings.
        pass

teams_with_long_str

['Newham General Hospital',
 'St Helier Hospital',
 'Chelsea and Westminster Hospital',
 'West Middlesex University Hospital',
 'Croydon University Hospital',
 'St Thomas Hospital',
 'Hillingdon Hospital',
 'Homerton University Hospital',
 'Kingston Hospital',
 'University Hospital Lewisham',
 'North Middlesex Hospital',
 'Royal Free Hospital',
 'Barnet General Hospital',
 'Bedford Hospital',
 'Good Hope General Hospital',
 'Solihull Hospital',
 'Royal Bolton Hospital',
 'Trafford General Hospital',
 'Tameside General Hospital',
 'Royal Albert Edward Infirmary',
 'Warrington Hospital',
 'Hexham General Hospital',
 'North Tyneside General Hospital',
 'Wansbeck General Hospital',
 'Queen Elizabeth Hospital Gateshead',
 'Barnsley Hospital',
 'Royal Surrey County Hospital']

In [11]:
# Label acute teams.
df['acute_unit'] = 1
mask = df.index.isin(teams_with_long_str)
df.loc[mask, 'acute_unit'] = 0

In [12]:
# Remove the long string.

# In this case every instance of the long string is immediately followed by ':_x000D_\n ',
# so add that to the text to be replaced.
long_str += ':_x000D_\n '

for col in cols_with_long_str:
    df[col] = df[col].str.replace(long_str, '')

### KI3 & KI4: label Type 1 and Type 3 beds

Most units have either Type 1 or Type 3 beds and the key indicator breakdown checks for either case, so there are lots of 'not applicable' strings.

Label each unit with new Type 1 bed yes/no and Type 3 bed yes/no columns, then replace "not applicable" with "no".

Have to do this separately for KI3 and KI4 columns. When it's a post-72h only unit, KI3 info says "not applicable" but KI4 info pulls in the data from the acute stroke unit.

In [13]:
# The other column: ki3_strokenurse_outofhours
cols_bed1 = [
    'ki3_strokenurse_bed1_weekdays10pm',
    'ki3_strokenurse_bed1_saturdays',
    'ki3_strokenurse_bed1_saturdays10pm',
    'ki3_strokenurse_bed1_sundays',
    'ki3_strokenurse_bed1_sundays10pm',
]

cols_bed3 = [
    'ki3_strokenurse_bed3_weekdays10pm',
    'ki3_strokenurse_bed3_saturdays',
    'ki3_strokenurse_bed3_saturdays10pm',
    'ki3_strokenurse_bed3_sundays',
    'ki3_strokenurse_bed3_sundays10pm',
]

### KI3

Pick out units with each bed type by checking whether all of the columns are "not applicable":

In [14]:
def find_units_without_beds(
        df_full: 'pd.DataFrame',
        cols: 'list',
        match_val = 'Not Applicable'
        ):
    # Subset of these bed columns:
    df = df_full[cols]
    # df of True/False for name matches the name_to_look_up:
    df_bool = df.eq(match_val)
    # series of True/False, one for each row in the dataframe,
    # and the row is True when all values in the row in df_bool is True.
    series_bool = df_bool.all(axis='columns')
    # Use that series as a mask to pick out only the right rows:
    hospitals = df.loc[series_bool].index.values
    return hospitals

In [15]:
units_without_bed1 = find_units_without_beds(df, cols_bed1)
units_without_bed3 = find_units_without_beds(df, cols_bed3)

Add new columns to say which bed types the units have:

In [16]:
df['bed3'] = 1
df.loc[units_without_bed3, 'bed3'] = 0

In [17]:
df['bed1'] = 1
df.loc[units_without_bed1, 'bed1'] = 0

Change the 'not applicable' entries to 'no':

In [18]:
df.loc[units_without_bed1, cols_bed1] = 0
df.loc[units_without_bed3, cols_bed3] = 0

### KI4

In [19]:
cols_bed1 = [
    'ki4_minimum_nurse_bed1_saturdays10am',
    'ki4_minimum_nurse_bed1_sundays10am',
]

cols_bed3 = [
    'ki4_minimum_nurse_bed3_saturdays10am',
    'ki4_minimum_nurse_bed3_sundays10am',
]

In [20]:
units_without_bed1 = find_units_without_beds(df, cols_bed1)
units_without_bed3 = find_units_without_beds(df, cols_bed3)

Add new columns to say which bed types the units have:

In [21]:
df['bed3'] = 1
df.loc[units_without_bed3, 'bed3'] = 0

In [22]:
df['bed1'] = 1
df.loc[units_without_bed1, 'bed1'] = 0

Change the 'not applicable' entries to 'no':

In [23]:
df.loc[units_without_bed1, cols_bed1] = 0.0
df.loc[units_without_bed3, cols_bed3] = 0.0

### KI5 Speech and language therapy - "not applicable" to zero.

The column 'ki5_speechlanguagetherapy_7days' has a full description in the "All site results" sheet of: "Speech and language therapy 5/6/7 day working (qualified)".

Its possible values are 5, 6, 7, and "Not Applicable".

Turn these "Not applicable" strings to 0.

In [24]:
df['ki5_speechlanguagetherapy_7days'] = df['ki5_speechlanguagetherapy_7days'].replace('Not Applicable', 0)

### KI7 Access to stroke ESD team - "not applicable" to zero

The column 'ki7_percent_access_to_stroke_esd_team' is "Not Applicable" wherever the column 'ki7_stroke_esd_team' is 'No'. Change it to zero.

In [25]:
df['ki7_percent_access_to_stroke_esd_team'] = df['ki7_percent_access_to_stroke_esd_team'].replace('Not Applicable', 0.0)

### Convert 'Not Applicable' strings to pd.NA

In [26]:
df = df.replace('Not Applicable', np.NaN)

In [27]:
for col in df.columns:
    try:
        df[col] = df[col].astype(float)
    except ValueError:
        # Can't convert column. Perhaps contains strings.
        pass

In [28]:
df

,ki_total,ki1,ki1_nurses6_wte,ki1_nurses7_wte,ki2,ki2_psych_wte,ki3,ki3_strokenurse_outofhours,ki3_strokenurse_bed1_weekdays10pm,ki3_strokenurse_bed1_saturdays,...,ki9_tia_brainimaging_mostused,ki9_tia_outpatients_seen,ki9_tia_outpatient_timescale,ki10,ki10_management_executiveonboard,ki10_management_nonexecutiveonboard,ki10_management_chairmanofclinicalgovernance,acute_unit,bed3,bed1
Hospital names,,,,,,,,,,,,,,,,,,,,,
Queens Hospital Romford HASU,6.0,Yes,2.73,1.14,No,0.48,Yes,Yes,5.0,5.0,...,Computed Tomography,Yes,The same day (7 days a week),Yes,Yes,Yes,Yes,1.0,0.0,1.0
Newham General Hospital,6.0,Yes,1.54,1.54,No,0.00,Yes,Yes,0.0,0.0,...,Magnetic Resonance Imaging,Yes,The same day (5 days a week),No,No,No,No,0.0,0.0,1.0
Royal London Hospital HASU,5.0,Yes,2.85,0.38,No,0.23,Yes,Yes,4.0,4.0,...,Magnetic Resonance Imaging,Yes,The same day (5 days a week),No,No,No,No,1.0,0.0,1.0
Whipps Cross University Hospital,3.0,Yes,2.63,0.53,No,0.00,No,No,0.0,0.0,...,Computed Tomography,Yes,The same day (5 days a week),No,No,No,No,1.0,1.0,0.0
Charing Cross Hospital HASU,5.0,Yes,3.67,0.44,No,0.27,Yes,Yes,6.0,7.0,...,Computed Tomography,Yes,The same day (5 days a week),No,No,No,No,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Craigavon Area Hospital,2.0,Yes,2.63,0.26,No,0.00,No,No,0.0,0.0,...,Magnetic Resonance Imaging,Yes,Within a week,No,No,No,No,1.0,1.0,0.0
Daisy Hill Hospital,2.0,No,1.50,0.33,No,0.00,No,No,0.0,0.0,...,Magnetic Resonance Imaging,NaN,NaN,No,No,No,No,1.0,1.0,0.0
Altnagelvin Hospital,3.0,No,1.20,0.40,No,0.00,No,No,1.0,1.0,...,Magnetic Resonance Imaging,Yes,The same day (5 days a week),No,No,No,No,1.0,0.0,1.0
South West Acute Hospital,3.0,No,1.56,0.56,No,0.00,No,No,1.0,1.0,...,Computed Tomography,Yes,Within a week,No,No,No,No,1.0,0.0,1.0
Noble's Hospital,3.0,Yes,5.00,0.83,No,0.00,Yes,Yes,0.0,0.0,...,Magnetic Resonance Imaging,Yes,Within a week,No,No,No,No,1.0,1.0,0.0

### TIA outpatients.

The TIA columns for 'Outpatients' and 'Outpatients Timescale' are missing data whenever the site does not have a neurovascular clinic. This clinic info is hidden in the "all sites results" sheet rather than the "key indicators summary" sheet that the rest of this data here came from.

Add a column to distinguish units that see TIAs from those that don't.

In [29]:
mask = ~df['ki9_tia_outpatients_seen'].isin(['Yes', 'No'])

df.loc[mask, ['ki9_tia_outpatients_seen', 'ki9_tia_outpatient_timescale']]

,ki9_tia_outpatients_seen,ki9_tia_outpatient_timescale
Hospital names,,
Southend Hospital,NaN,NaN
West Cumberland Hospital,NaN,NaN
Northumbria Specialist Emergency Care Hospital HASU,NaN,NaN
Royal Surrey County Hospital,NaN,NaN
Weston General Hospital,NaN,NaN
Horton General Hospital,NaN,NaN
Daisy Hill Hospital,NaN,NaN

In [30]:
df['ki9_tia_clinic'] = 1

# Mask for any missing data (i.e. neither Yes nor No):
mask = ~df['ki9_tia_outpatients_seen'].isin(['Yes', 'No'])

df.loc[mask, 'ki9_tia_clinic'] = 0

Set missing values to 'No':

In [31]:
df.loc[mask, 'ki9_tia_outpatients_seen'] = 'No'

### Check the contents of the columns

In [32]:
dict_of_column_contents = {}

for col in df.columns:
    column_contents = df[col].unique().tolist()
    # # Sort the contents and convert to tuple:
    try:
        column_contents = sorted(column_contents)
    except TypeError:
        # Can't sort lists containing NA.
        pass
    dict_of_column_contents[col] = column_contents

In [33]:
for col, column_contents in dict_of_column_contents.items():
    if not all(isinstance(v, (int, float)) for v in column_contents):
        print(col, column_contents, '\n')

ki1 ['No', 'Yes']

ki2 ['No', 'Yes']

ki3 ['No', 'Yes']

ki3_strokenurse_outofhours ['No', 'Yes']

ki4 ['No', 'Yes']

ki5 ['No', 'Yes']

ki6 ['No', 'Yes']

ki6_prealert_ivtcandidates ['No', 'Sometimes', 'Yes']

ki6_prealert_fastpositive ['No', 'Sometimes', 'Yes']

ki6_prealert_othersuspectedstroke ['No', 'Sometimes', 'Yes']

ki6_prealert_strokenurse ['No', 'Yes']

ki6_prealert_juniordoctor ['No', 'Yes']

ki6_prealert_consultant ['No', 'Yes']

ki7 ['No', 'Yes']

ki7_stroke_esd_team ['No', 'Yes']

ki8 ['No', 'Yes']

ki8_patientcarersurvey_frequency ['1-2 times a year', '3-4 times a year', 'Continuous (every patient)', 'Less than once a year', 'More than 4 a year', 'Never']

ki9 ['No', 'Yes']

ki9_tia_brainimaging_mostused ['Computed Tomography', 'Magnetic Resonance Imaging', 'Rarely image TIAs']

ki9_tia_outpatients_seen ['No', 'Yes']

ki9_tia_outpatient_timescale ['The same day (7 days a week)', 'The same day (5 days a week)', 'The next weekday', nan, 'The next day', 'Within a week', 'Within a month']

ki10 ['No', 'Yes']

ki10_management_executiveonboard ['No', 'Yes']

ki10_management_nonexecutiveonboard ['No', 'Yes']

ki10_management_chairmanofclinicalgovernance ['No', 'Yes']

### Convert yes/no columns to 1/0

In [34]:
# Find columns containing only 'Yes' and 'No':
cols_bool = []
for col in df.columns:
    mask = df[col].isin(['Yes', 'No'])
    if mask.all():
        cols_bool.append(col)

cols_bool

['ki1',
 'ki2',
 'ki3',
 'ki3_strokenurse_outofhours',
 'ki4',
 'ki5',
 'ki6',
 'ki6_prealert_strokenurse',
 'ki6_prealert_juniordoctor',
 'ki6_prealert_consultant',
 'ki7',
 'ki7_stroke_esd_team',
 'ki8',
 'ki9',
 'ki9_tia_outpatients_seen',
 'ki10',
 'ki10_management_executiveonboard',
 'ki10_management_nonexecutiveonboard',
 'ki10_management_chairmanofclinicalgovernance']

In [35]:
df[cols_bool] = df[cols_bool].replace(['Yes', 'No'], [1, 0])

### Convert yes/no/sometimes columns to two yes/sometimes columns

In [36]:
# Find columns containing only 'Yes', 'No', and 'Sometimes':
cols_yns = []
for col in df.columns:
    mask = df[col].isin(['Yes', 'No', 'Sometimes'])
    if mask.all():
        cols_yns.append(col)

cols_yns

['ki6_prealert_ivtcandidates',
 'ki6_prealert_fastpositive',
 'ki6_prealert_othersuspectedstroke']

In [37]:
for col in cols_yns:
    # Rename these values for the sake of column names:
    df[col] = df[col].replace(
        ['Yes', 'No', 'Sometimes'],
        ['yes', 'no', 'sometimes']
    )
    # Split into separate columns:
    df_here = pd.get_dummies(df[col], prefix=col, prefix_sep='_')
    # Drop the 'no' column:
    df_here = df_here.drop(f'{col}_no', axis='columns')
    # Merge these new columns into the existing dataframe:
    df = pd.concat((df, df_here), axis='columns')
    
    # Remove the original column
    df = df.drop(col, axis='columns')

### Convert categorical columns to one-hot-encoded

Brain imaging type:

In [38]:
list(set(df['ki9_tia_brainimaging_mostused'].values))

['Rarely image TIAs', 'Magnetic Resonance Imaging', 'Computed Tomography']

In [39]:
# Rename these values for the sake of column names:
df['ki9_tia_brainimaging_mostused'] = df['ki9_tia_brainimaging_mostused'].replace(
    ['Computed Tomography', 'Rarely image TIAs', 'Magnetic Resonance Imaging'],
    ['ct', 'rare', 'mri']
)

In [40]:
df_imaging = pd.get_dummies(
    df['ki9_tia_brainimaging_mostused'],
    prefix='ki9_tia_brainimaging_mostused',
    prefix_sep='_'
)

df_imaging

,ki9_tia_brainimaging_mostused_ct,ki9_tia_brainimaging_mostused_mri,ki9_tia_brainimaging_mostused_rare
Hospital names,,,
Queens Hospital Romford HASU,1,0,0
Newham General Hospital,0,1,0
Royal London Hospital HASU,0,1,0
Whipps Cross University Hospital,1,0,0
Charing Cross Hospital HASU,1,0,0
...,...,...,...
Craigavon Area Hospital,0,1,0
Daisy Hill Hospital,0,1,0
Altnagelvin Hospital,0,1,0
South West Acute Hospital,1,0,0
Noble's Hospital,0,1,0

In [41]:
# Merge these new columns into the existing dataframe:
df = pd.concat((df, df_imaging), axis='columns')

# Remove the original column
df = df.drop('ki9_tia_brainimaging_mostused', axis='columns')

Survey frequency:

In [42]:
list(set(df['ki8_patientcarersurvey_frequency'].values))

['Never',
 'Continuous (every patient)',
 '1-2 times a year',
 'More than 4 a year',
 '3-4 times a year',
 'Less than once a year']

In [43]:
cols_now = [
    'Never',
    'More than 4 a year',
    'Less than once a year',
    'Continuous (every patient)',
    '3-4 times a year',
    '1-2 times a year'
    ]
cols_soon = [
    'never',
    'more4peryear',
    'less1peryear',
    'everypatient',
    '3to4peryear',
    '1to2peryear'
]

# Rename these values for the sake of column names:
df['ki8_patientcarersurvey_frequency'] = df['ki8_patientcarersurvey_frequency'].replace(
    cols_now, cols_soon
)

In [44]:
df_survey = pd.get_dummies(
    df['ki8_patientcarersurvey_frequency'],
    prefix='ki8_patientcarersurvey_frequency',
    prefix_sep='_'
)

df_survey

,ki8_patientcarersurvey_frequency_1to2peryear,ki8_patientcarersurvey_frequency_3to4peryear,ki8_patientcarersurvey_frequency_everypatient,ki8_patientcarersurvey_frequency_less1peryear,ki8_patientcarersurvey_frequency_more4peryear,ki8_patientcarersurvey_frequency_never
Hospital names,,,,,,
Queens Hospital Romford HASU,0,0,1,0,0,0
Newham General Hospital,0,0,1,0,0,0
Royal London Hospital HASU,0,0,0,1,0,0
Whipps Cross University Hospital,0,0,0,0,0,1
Charing Cross Hospital HASU,0,1,0,0,0,0
...,...,...,...,...,...,...
Craigavon Area Hospital,0,0,0,1,0,0
Daisy Hill Hospital,0,0,0,1,0,0
Altnagelvin Hospital,1,0,0,0,0,0
South West Acute Hospital,1,0,0,0,0,0
Noble's Hospital,0,0,1,0,0,0

In [45]:
# Merge these new columns into the existing dataframe:
df = pd.concat((df, df_survey), axis='columns')

# Remove the original column
df = df.drop('ki8_patientcarersurvey_frequency', axis='columns')

TIA timescales:

In [46]:
list(set(df['ki9_tia_outpatient_timescale'].values))

[nan,
 'Within a month',
 'The same day (5 days a week)',
 'The same day (7 days a week)',
 'The next weekday',
 'The next day',
 'Within a week']

In [47]:
# Replace nan with 'missing' string:
df['ki9_tia_outpatient_timescale'] = df['ki9_tia_outpatient_timescale'].fillna('missing')

In [48]:
cols_now = [
    'The next weekday',
    'The same day (7 days a week)',
    'The next day',
    'Within a week',
    'The same day (5 days a week)',
    'missing',
    'Within a month'
]
cols_soon = [
    'nextweekday',
    'sameday',
    'nextday',
    'withinweek',
    'samedayexcludingweekends',
    'missing',
    'withinmonth'
]

# Rename these values for the sake of column names:
df['ki9_tia_outpatient_timescale'] = df['ki9_tia_outpatient_timescale'].replace(
    cols_now, cols_soon
)

In [49]:
df_tia = pd.get_dummies(
    df['ki9_tia_outpatient_timescale'],
    prefix='ki9_tia_outpatient_timescale',
    prefix_sep='_'
)

# Drop the 'missing' column:
df_tia = df_tia.drop('ki9_tia_outpatient_timescale_missing', axis='columns')

df_tia

,ki9_tia_outpatient_timescale_nextday,ki9_tia_outpatient_timescale_nextweekday,ki9_tia_outpatient_timescale_sameday,ki9_tia_outpatient_timescale_samedayexcludingweekends,ki9_tia_outpatient_timescale_withinmonth,ki9_tia_outpatient_timescale_withinweek
Hospital names,,,,,,
Queens Hospital Romford HASU,0,0,1,0,0,0
Newham General Hospital,0,0,0,1,0,0
Royal London Hospital HASU,0,0,0,1,0,0
Whipps Cross University Hospital,0,0,0,1,0,0
Charing Cross Hospital HASU,0,0,0,1,0,0
...,...,...,...,...,...,...
Craigavon Area Hospital,0,0,0,0,0,1
Daisy Hill Hospital,0,0,0,0,0,0
Altnagelvin Hospital,0,0,0,1,0,0
South West Acute Hospital,0,0,0,0,0,1
Noble's Hospital,0,0,0,0,0,1

In [50]:
# Merge these new columns into the existing dataframe:
df = pd.concat((df, df_tia), axis='columns')

# Remove the original column
df = df.drop('ki9_tia_outpatient_timescale', axis='columns')

## Sort columns by key indicator

In [51]:
cols = df.columns
ki_cols = [col.split('_')[0] for col in cols]
ki_cols = [int(col.split('ki')[-1]) if col.split('ki')[-1].isnumeric() else 0 for col in ki_cols]

In [52]:
df_cols = pd.DataFrame(
    np.array([ki_cols, df.columns]).T,
    columns=['ki', 'names']
)

In [53]:
df_cols = df_cols.sort_values(['ki', 'names'])

In [54]:
df = df[df_cols['names'].values]

Final dataframe contents:

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, Queens Hospital Romford HASU to Noble's Hospital
Data columns (total 66 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   acute_unit                                             169 non-null    float64
 1   bed1                                                   169 non-null    float64
 2   bed3                                                   169 non-null    float64
 3   ki_total                                               169 non-null    float64
 4   ki1                                                    169 non-null    int64
 5   ki1_nurses6_wte                                        169 non-null    float64
 6   ki1_nurses7_wte                                        169 non-null    float64
 7   ki2                                                    169 non-null    int64
 8   ki2_psych_wte                                          169 non-null    float64
 9   ki3                                                    169 non-null    int64
 10  ki3_strokenurse_bed1_saturdays                         169 non-null    float64
 11  ki3_strokenurse_bed1_saturdays10pm                     169 non-null    float64
 12  ki3_strokenurse_bed1_sundays                           169 non-null    float64
 13  ki3_strokenurse_bed1_sundays10pm                       169 non-null    float64
 14  ki3_strokenurse_bed1_weekdays10pm                      169 non-null    float64
 15  ki3_strokenurse_bed3_saturdays                         169 non-null    float64
 16  ki3_strokenurse_bed3_saturdays10pm                     169 non-null    float64
 17  ki3_strokenurse_bed3_sundays                           169 non-null    float64
 18  ki3_strokenurse_bed3_sundays10pm                       169 non-null    float64
 19  ki3_strokenurse_bed3_weekdays10pm                      169 non-null    float64
 20  ki3_strokenurse_outofhours                             169 non-null    int64
 21  ki4                                                    169 non-null    int64
 22  ki4_minimum_nurse_bed1_saturdays10am                   169 non-null    float64
 23  ki4_minimum_nurse_bed1_sundays10am                     169 non-null    float64
 24  ki4_minimum_nurse_bed3_saturdays10am                   169 non-null    float64
 25  ki4_minimum_nurse_bed3_sundays10am                     169 non-null    float64
 26  ki5                                                    169 non-null    int64
 27  ki5_occupationaltherapy_7days                          169 non-null    float64
 28  ki5_physiotherapy_7days                                169 non-null    float64
 29  ki5_speechlanguagetherapy_7days                        169 non-null    float64
 30  ki6                                                    169 non-null    int64
 31  ki6_prealert_consultant                                169 non-null    int64
 32  ki6_prealert_fastpositive_sometimes                    169 non-null    uint8
 33  ki6_prealert_fastpositive_yes                          169 non-null    uint8
 34  ki6_prealert_ivtcandidates_sometimes                   169 non-null    uint8
 35  ki6_prealert_ivtcandidates_yes                         169 non-null    uint8
 36  ki6_prealert_juniordoctor                              169 non-null    int64
 37  ki6_prealert_othersuspectedstroke_sometimes            169 non-null    uint8
 38  ki6_prealert_othersuspectedstroke_yes                  169 non-null    uint8
 39  ki6_prealert_strokenurse                               169 non-null    int64
 40  ki7                                                    169 non-null    int64
 41  ki7_percent_access_to_stroke_esd_team                  169 non-null    float64
 42  ki7_stroke_esd_team                                    169 non-null    int64
 43  ki8                                                    169 non-null    int64
 44  ki8_patientcarersurvey_frequency_1to2peryear           169 non-null    uint8
 45  ki8_patientcarersurvey_frequency_3to4peryear           169 non-null    uint8
 46  ki8_patientcarersurvey_frequency_everypatient          169 non-null    uint8
 47  ki8_patientcarersurvey_frequency_less1peryear          169 non-null    uint8
 48  ki8_patientcarersurvey_frequency_more4peryear          169 non-null    uint8
 49  ki8_patientcarersurvey_frequency_never                 169 non-null    uint8
 50  ki9                                                    169 non-null    int64
 51  ki9_tia_brainimaging_mostused_ct                       169 non-null    uint8
 52  ki9_tia_brainimaging_mostused_mri                      169 non-null    uint8
 53  ki9_tia_brainimaging_mostused_rare                     169 non-null    uint8
 54  ki9_tia_clinic                                         169 non-null    int64
 55  ki9_tia_outpatient_timescale_nextday                   169 non-null    uint8
 56  ki9_tia_outpatient_timescale_nextweekday               169 non-null    uint8
 57  ki9_tia_outpatient_timescale_sameday                   169 non-null    uint8
 58  ki9_tia_outpatient_timescale_samedayexcludingweekends  169 non-null    uint8
 59  ki9_tia_outpatient_timescale_withinmonth               169 non-null    uint8
 60  ki9_tia_outpatient_timescale_withinweek                169 non-null    uint8
 61  ki9_tia_outpatients_seen                               169 non-null    int64
 62  ki10                                                   169 non-null    int64
 63  ki10_management_chairmanofclinicalgovernance           169 non-null    int64
 64  ki10_management_executiveonboard                       169 non-null    int64
 65  ki10_management_nonexecutiveonboard                    169 non-null    int64
dtypes: float64(25), int64(20), uint8(21)
memory usage: 68.3+ KB

Save to file:

In [56]:
df.to_csv(os.path.join(dir_files, 'processed_2019_portfolio_key_indicators_summary_numeric.csv'))